@font-face {
  font-family: 'Helvetica Neue Cyr';
  src: url('./assets/fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  src: url('./assets/fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue Cyr', sans-serif;
  font-weight: normal;
}

button {
  cursor: pointer;
  border: none;
  font: inherit;
}